name: CI
on: [push, pull_request]


jobs:
build:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v4
- name: Set up Go
uses: actions/setup-go@v4
with:
go-version: '1.21'


- name: Build gateway
run: |
cd gateway
go build -v ./...


- name: Build fetcher
run: |
cd fetcher
go build -v ./...


- name: Lint
run: echo "add"